

<div container="fluid" [ngStyle] = "{'background-color': 'cornflowerblue'}">
    <div class="row">
        <nav-bar></nav-bar>
    </div>
    
    <div>
        <span>
            <h1 [ngStyle] = "{'padding': '50px'}"> <b>Athletics Schedule </b> </h1>
        </span>

        <div class ="row">
            <div class="col col-md-4" [ngStyle]="{'padding': '100px'}" (mouseover) = "this.sportHover()" (mouseout) = "this.sportUnhover()">
                <img src="assets/soccerimage.jpg" [ngStyle]="this.sportStyles()" />
                <h2>Soccer</h2>
            </div>
        
            <div class="col  col-md-4" [ngStyle]="{'padding': '100px'}" (mouseover) = "this.sportHover2()" (mouseout) = "this.sportUnhover2()">
                <img src="assets/footballimage.jpg" [ngStyle]="this.sportStyles2()">
                <h2>Football</h2>
            </div>

            <div class="col  col-md-4" [ngStyle]="{'padding': '100px'}" (mouseover) = "this.sportHover3()" (mouseout) = "this.sportUnhover3()">
                <img src="assets/baseballimage.JPG" [ngStyle]="this.sportStyles3()">
                <h2>Baseball</h2>
            </div>
        </div>



        <div class ="row">
                <div class="col col-md-4" [ngStyle]="{'padding': '100px'}" (mouseover) = "this.sportHover4()" (mouseout) = "this.sportUnhover4()">
                    <img src="assets/volleyballimage.jpg" [ngStyle]="this.sportStyles4()">
                    <h2>Volleyball</h2>
                </div>
            
                <div class="col  col-md-4" [ngStyle]="{'padding': '100px'}" (mouseover) = "this.sportHover5()" (mouseout) = "this.sportUnhover5()">
                    <img src="assets/hockeyimage.jpg" [ngStyle]="this.sportStyles5()">
                    <h2>Hockey</h2>
                </div>
    
                <div class="col  col-md-4" [ngStyle]="{'padding': '100px'}" (mouseover) = "this.sportHover6()" (mouseout) = "this.sportUnhover6()">
                    <img src="assets/wrestlingimage.jpg" [ngStyle]="this.sportStyles6()">
                    <h2>Wrestling</h2>
                </div>
            </div>

    </div>
</div>




