<nav-bar></nav-bar>
    <h1> More Degree Information on: </h1>
       
        
     

        <div *ngIf="this.id == 0" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>
            The BS program with a concentration in applied biological sciences offers students solid foundations in biology and related sciences while allowing them to focus on an area of special interest. This concentration works well for students interested in pursuing research careers in biology or for students planning to enter graduate or professional programs related to human health including:
            <ul>
                <li>biotechnology</li>
                <li>dentistry</li>
                <li>epidemiology</li>
                <li> medical technology</li>
                <li> medicine</li>
                <li> physical therapy</li>
                <li> physician's assistant programs</li>
                <li>public health   </li>
            </ul>     
        </div>



        <div *ngIf="this.id == 1" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

                The history of art is different from other historical disciplines in that it is founded on direct visual confrontation with objects that are both concretely present and yet documents of the past. We emphasize analysis of images, objects, and built environments as the basis for critical thought and visual literacy. In addition to formal and iconographic analysis, we use the work of other disciplines to understand visual images, such as social history, perceptual psychology, engineering, psychoanalysis, cultural studies, and archaeology. Because of its concentration on visual experience, the Art History major increases one’s ability to observe and to use those observations as analytical tools for understanding history and culture.

                ArtH 101-102 and either ArtH 103 or ArtH 104 introduce students to a series of critical studies of important works selected from the history of European, North American, African, and Asian art from antiquity to the present. The critical approach of the introductory courses is maintained in all further courses, often by assigned study of original works in the Williams College Museum of Art, Chapin Library, the Clark Art Institute, and Mass MoCA.
                
                Any art studio course. The requirement of one art history course concerned with a period prior to 1600 and one art history course concerned with post 1600.  The junior course (ArtH 301) develops awareness of the theoretical implications, as well as the possibilities and limitations of different art-historical methods. The requirement of one upper level course either 400 or 500 level.  One additional art history course at any level
         </div>

         <div *ngIf="this.id == 2" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>
                During their first two years at The University of Mississippi, Pre-Business undergraduates gain a strong liberal arts foundation that is complimented by basic business courses such as accounting, economics, business law and business communications.

                The third (junior) year includes core courses in finance, information systems, management, marketing, operations management, and business statistics. As seniors, students take additional courses in their major field or fields, as well as business and non-business electives, to prepare them to achieve their specific career objectives.
                
                All students seeking the degree of Bachelor in Business Administration (BBA) in a specialty major* from The University of Mississippi must satisfactorily complete the following core courses:
            <ul>
               <li>MATH 267 – Business Calculus I </li>
                <li>MATH 268 – Business Calculus II </li>
                <li>ACCY 201 – Accounting I </li>
                <li>ACCY 202 – Accounting II </li>
                <li>ECON 202 – Principles of Microeconomics </li>
                <li>ECON 203 – Principles of Macroeconomics</li>
                <li>BUS 250 – Legal Environment of Business </li>
                <li>BUS 271 – Business Communication</li>
                <li>BUS/ECON 230 – Economic Statistics I</li>
                <li>MGMT 371 – Principles of Management</li>
                <li>MKTG 351 – Marketing Principles</li>
                <li>MIS 309 – Mgmt. Information Systems</li>
                <li>FIN 331 – Business Finance I</li>
                <li>BUS/ECON 302 – Economic Statistics II</li>
                <li>MKTG 372 – Intro. to Operations and Supply Chain Mgmt</li>
                <li>MGMT 493 – Mgmt. of Strategic Planning</li>
            </ul>
         </div>
 
         <div *ngIf="this.id == 3" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 4
         </div>
 
         <div *ngIf="this.id == 4" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 5
            
         </div>

         <div *ngIf="this.id == 5" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 6
         </div>

         <div *ngIf="this.id == 6" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 7
         </div>
 

         <div *ngIf="this.id == 7" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 8
         </div>
 

         <div *ngIf="this.id == 8" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 9
         </div>
 

         <div *ngIf="this.id == 9" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 10
         </div>
 

         <div *ngIf="this.id == 10" [ngStyle]="{'padding': '100px', 'font-size': '28px'}"> 
                <h2><b>{{details.name}}</b></h2>

            this is page 11
         </div>
 

         <div *ngIf="this.id == 11" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 12
         </div>
 

         <div *ngIf="this.id == 12" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 13
         </div>
 

         <div *ngIf="this.id == 13" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 14
         </div>
 

         <div *ngIf="this.id == 14" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 15
         </div>
 

         <div *ngIf="this.id == 15" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 16
         </div>
 

         <div *ngIf="this.id == 16" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 17
         </div>
 

         <div *ngIf="this.id == 17" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 18
         </div>
 

         <div *ngIf="this.id == 18" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 19
         </div>
 

         <div *ngIf="this.id == 19" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 20
         </div>
 

         <div *ngIf="this.id == 20" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 21
         </div>
 

         <div *ngIf="this.id == 21" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 22
         </div>
 

         <div *ngIf="this.id == 22" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 23
         </div>
 

         <div *ngIf="this.id == 23" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 24
         </div>

         <div *ngIf="this.id == 24" [ngStyle]="{'padding': '100px', 'font-size': '28px'}">
                <h2><b>{{details.name}}</b></h2>

            this is page 25
         </div>
 
 
 
 
        
        