


    
<div class="container-fluid" [ngStyle]="{'border-style': 'groove', 'border-width': '50px'}">
    <div class="row">
            
        <div [ngStyle]="{'background-color': 'teal', 'height': '100px'}">
            <h1 [ngStyle]="{'padding': '50px'}"> <b> Welcome to Suwyn University </b> </h1>
        </div>

        <div>
             <nav-bar></nav-bar>
        </div>
           
    </div>

    <div class="row">
        <div [ngStyle]="{'background-color':'lightblue', 'padding': '24px'}" class="col col-md-2">
            <degrees></degrees>
        </div>
         
        <div class="col col-md-6" [ngStyle]="{'font-size': '24px', 'padding': '50px'}">
            <main></main>
        </div>
            
        <div class="col col-md-4" [ngStyle]="{'padding': '50px'}">
              
            <img src="assets/suwynuniversity.png">
            
               
            <div [ngStyle]="{'padding': '80px'}">
                
                <h1>Contact Information:</h1>
                    <h3>Phone: 623-362-6748</h3>
                    <h3>Email: SuwynUniversity@universities.com</h3>
                    <h3>Address: 14323 W. Humble Dr.</h3> 
                    <h3>Phoenix, Az 85383</h3>
                    <h3>Fax: +1 454 434 5552</h3>
            </div>
        </div>
            
    </div>
</div>
        
        